/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 13, 2022, 7:05:14 PM
    Author     : PASINDU
*/
.root{
    -fx-background-color: linear-gradient(to bottom right, blueviolet, cornflowerblue);

}

#profile_btn , #booking_btn , #details_btn ,#search_btn , #signout_btn {
    -fx-background-color: paleturquoise ;
    -fx-background-radius:10px ;
    -fx-border-color:transparent;
    -fx-border-width: 0 3 3 0;

}

#profile_btn:hover, #booking_btn:hover , #details_btn:hover ,#search_btn:hover , #signout_btn:hover {
    -fx-background-color: mintcream ;
    -fx-background-radius:10px;
    -fx-border-color:black;
    -fx-border-width: 0 3 3 0;
    -fx-background-insets: 0;
}
